/* Configuración general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Encabezados */
h1 {
    color: #2c3e50;
    text-align: center;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}
.card {
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 12px;     /* Bordes redondeados */
    padding: 2rem;           /* Espacio interno */
    max-width: 600px;        /* Ancho máximo opcional */
    margin: 20px auto;       /* Centra la tarjeta */
    
    /* Sombra: eje-x eje-y difuminado expansión color */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    
    /* Suaviza el borde si quieres algo sutil */
    border: 1px solid #eee;
}

.card h3 {
    margin-top: 0;
    color: #333;
}
.subt h3 {
    margin-left: 15
}

.card p {
    line-height: 1.6;
    color: #666;
}

h3 {
    color: #2980b9;
    border-radius: 12px; 
    margin-top: 30px;
    background-color: #c2e0e8;
    padding: 10px;
    border-left: 5px solid #3498db;
<<<<<<< HEAD
    
}
.sub {
    width: 250px;
    margin-left: 30px;
=======
>>>>>>> 367b389d4e9b73da668edf858009ebf977853fa6
}

/* Párrafos y listas */
p {
    margin-bottom: 15px;
    text-align: justify;
}

ul {
   
    padding-left: 10;
}
footer{
    text-align: center;
}



/* Efecto al pasar el mouse por las habilidades */

/* Negrita para los títulos de las habilidades */
li strong {
    color: #2c3e50;
}
