/* Configuración general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Encabezados */
h1 {
    color: #2c3e50;
    text-align: center;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

h3 {
    color: #2980b9;
    margin-top: 30px;
    background-color: #ecf0f1;
    padding: 10px;
    /*border-left: 5px solid #3498db;*/
}

/* Párrafos y listas */
p {
    margin-bottom: 15px;
    text-align: justify;
}

ul {
   
    padding-left: 10;
}
footer{
    text-align: center;
}



/* Efecto al pasar el mouse por las habilidades */

/* Negrita para los títulos de las habilidades */
li strong {
    color: #2c3e50;
}